<mat-toolbar style="position: fixed; z-index:900; background-color: #1d2127; color: white; max-height: 50px; min-height: 50px;"
  class="mat-elevation-z2">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Suivi des ISP</h1>
    <span style="flex: 1 0 auto;"></span>
    <button mat-icon-button routerLink="" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>home</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="ouvrirProjetForm()">Projet</button>
      <button mat-menu-item (click)="ouvrirVersionForm()">Version</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened mode="side" fixedInViewport fixedTopGap=40
    [ngStyle]="{ 'width.em': sidenavWidth }" opened="true"
    (click)="ouvre()" (mouseleave)="ferme()"
    style="background-color: #2C2F36; color: white;">
    <mat-list>
      <mat-list-item style="color: white;">
        <button mat-icon-button (click)="sidenav.close()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item style="color: white;" routerLink="projets" routerLinkActive="active">
        Projets
      </mat-list-item>
      <mat-list-item style="color: white;" routerLink="versions" routerLinkActive="active">
        Versions
      </mat-list-item>
      <mat-list-item style="color: white;" routerLink="acteurs" routerLinkActive="active">
        Acteurs
      </mat-list-item>
      <mat-list-item style="color: white;" routerLink="lignesproduits" routerLinkActive="active">
        Lignes produits
      </mat-list-item>
      <mat-list-item style="color: white;" routerLink="supra" routerLinkActive="active">
        Supra
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav position="end" #tiroirDeDroite [opened]="projetForm || versionForm"  fixedInViewport fixedTopGap=50>
    <mat-card style="width: 450px">
      <projet-form *ngIf="projetForm"></projet-form>
      <version-form *ngIf="versionForm"></version-form>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content style="margin-top: 55px; padding: 0 20px;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
